body
{
	background-image: url('../Images/back.jpg');
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 2,0.3);
  	background-attachment: fixed;
  	background-size: cover;
  	text-align: center;
  	color: white;
  	font-weight: bold;
  	padding: 10px;
  	font-style: italic;
  	font-family: 'Raleway', sans-serif;
    height: 100%;
}
.container-fluid
{
	
	padding: 10px;

}
#scrolltopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}


.btn
{
	background-color: white;
	width:100%;
	font-size: 18px;
}
.btn:hover
{
	color: red;
}
.menu
{
	width: 50%;
}
.p
{
	outline: 1px solid white;
	padding: 5px;
}

.c a
{
	padding: 5px;
	width:5px;
}
.h p
{
	border:1px solid white;
	padding: 10px;
}
.introductions{
    border: 1px solid #ccc;
    width:100%;
    height:100%;
    
}
.introductions ul{
    padding: 0;
    list-style: none;

}
.introductions li{
    padding: 20px;
    border-bottom: 1px dashed black;
    width: 100%;
}
.introductions li.bc{
    background: white;
}
.introductions li:after {
    content: '';
    display: block;
    clear: both;
}
/*.introductions a{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #06f;
    width: 100%;
    text-decoration:none;
}*/
.introductions img
{
	width: 100%;
	height:350px;
}
iframe
{
	width:300px;
  height:200px;
	border:none;
}
.introduction{
    
    border-radius: 5px;
    width: 100%;
    height:100%;
    
}
.achievements{
    
    border-radius: 5px;
    width: 100%;
    height:100%;
    
}
#home,#about,#projects,#contact
{
  display: none;
}
@media only screen and (max-width: 600px) {
.introductions img
{
	width: 100%;
	height:200px;
}
#scrolltopBtn {
  display: none;
  position: fixed;
  bottom: 2px;
  right: 10px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}
}
